# Arquivos de build
target/
!.mvn/wrapper/maven-wrapper.jar

# IDEs
.idea/
*.iml
*.ipr
*.iws
.vscode/
.settings/
.classpath
.project
.factorypath

# Sistema
.DS_Store
*.log
*.swp
*.swo

# Docker específico
docker-compose.yml
docker-compose.override.yml
Dockerfile*
!Dockerfile

# Ambiente
.env
*.env
/src/main/resources/app.key
/src/main/resources/app.pub
/src/main/resources/application-dev.properties
